<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax1</title>
</head>
<body>
    <h1>Test</h1>
    <input type="button" id="btn" value="Click" />

    <div id="myDiv">AjaxTest 1 
    </div>


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- IKKE HER .... til en fil for sig selv -->
    <script>
        "use strict";

        (function () {
         
            t = 1;
            console.log("test");
        })();
        
        
        //$("#btn").click(function () {
        //setInterval(function(){
        //    jQuery.get("list", {}, function (data) {
        //        jQuery("#myDiv").html(data);
        //    });
        //}, 5000);

        //});
    </script>
</body>
</html>
