
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listtest</title>
</head>
<body>
    <h1>My homepage</h1>
    <hr />
    <div> lorem lskdjfh lkdfjgh ksdjfgh lksjdh lkjh glkdfh sf
    </div>

    @Html.Action("list")


</body>
</html>
