@model List<project01_demo.Models.Person>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Demo</h1>
    @DateTime.Now.ToLongTimeString()

    @Model.Count

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.IdPerson @item.Name</li>
        }
    </ul>

</body>
</html>
